@media only screen and (max-width: 1185px) {
    .sect-1{
        flex-direction: column;
        margin-top: 80px;
        margin-left: 39px;
        align-items: normal;
    }

    h1{
        font-size: 44px;
        line-height: 55px;
        max-width: 75%;
    }

    h2 {
        font-size: 44px;
        line-height: 55px;
    }

    .sect-1-div p {
        max-width: 73%;
    }

    img[src="images/cargo.png"]{
        margin-top: 56px;
        content: url("/images/cargotablet.png");
        max-width: 690px;
        width: 95%;
    }

    .green-box{
        width: 23%;
        height: 743px;
    }

    .sect-2 {
        flex-direction: column;
    
        height: 524px;
        max-width: 690px;
        margin: 67px auto;
        width: 94%;
    
        background: none;
        box-shadow: none;

        gap: 0;
    }

    .sect-2 article h3{
        margin-top: 0;
    }

    .sect-2 article {
        display: flex;
        padding-top: 32px;
        padding-left: 32px;

        height: 164px;
        max-width: 690px;
        width: 100%;

        margin-bottom: 16px;

        background: #FFFFFF;
        box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.12);
        border-radius: 20px;
    }

    .sect-2-article-2, .sect-2-article-3{
        border-left: none;
        padding-left: 0;
    }

    .sect-2 section{
        margin-left: 124px;
    }

    .sect-3 div:last-child {
        display: none;
    }

    .sect-3 article {
        margin-right: 0;
    }

    .sect-3 div:first-child {
        margin-right: 0;
    }

    .sect-4 {
        height: 383px;
    }

    .green-why-us {
        visibility: hidden;
    }

    .transparent-why-us {
        visibility: hidden;
    }

    img[src="images/truck.png"] {
        content: url("/images/tablet-truck.png");
    }

    .tablet-green-why-us {
        visibility: visible;
        right: 188px;
    }

    .tablet-transparent-why-us {
        visibility: visible;
        right: 95px;
    }

    .why-us {
        width: 768px;
    }

    .why-us h2{
        right: 320px;
        top: 130px;
    }

    .sect-5 {
        margin-left: 39px;
        max-width: 768px;
        margin: 72px auto;
    }

    .sect-5 article {
        width: 516px;
        margin-left: 39px;
    }
    
    .sect-6-art-3 {
        display: none;
    }

    .sect-6-art-sect {
        display: flex;
        flex-direction: column;
    }

    .sect-6 {
        max-width: 687px;
    }

    .sect-6-art-1 img {
        content: url("/images/tablet-our-works-1.png");
    }

    .sect-6-art-2 img {
        content: url("/images/tablet-our-works-2.png");
    }

    .sect-6 article{
        max-width: 690px;
        width: 690px;
        margin-bottom: 32px;
    }

    .sect-6 article p:not(.price) {
        max-width: 510px;
    }

    .sect-7 {
        display: flex;
        justify-content: normal;
        flex-direction: column;
        align-items: center;
    
        max-width: 768px;
        width: 95%;
        height: 971px;

        margin: 88px auto;
    }

    .sect-7 h2 {
        margin-left: 0;
        width: 652px;
    }

    .sect-7 > article {
        margin-left: 0px;
        margin-top: 48px;
        margin-bottom: 64px;
        margin-right: 0;
    }

    .symbol {
        left: 39px;
        bottom: 344px;
        width: 536px;
        height: 683px;
    }

    .table-sect > section:not(.table-upper) {
        align-self: center;
        margin: 24px auto;
    }

    .sect-8 img {
        display: none;
    }

    .sect-8 section {
        margin-left: 80px;
    }

    .sect-8 {
        max-width: 641px;
        width: 80%;

    }

    .sect-8 p{
        max-width: 492px;
        width: 90%;
    }

    .sect-9 {
        margin: 88px auto;
        display: flex;
        flex-direction: column;
        width: 687px;
        height: auto;
    }

    .sect-9 section{
        row-gap: 64px;
        justify-content: center;
    }

    .right-border {
        border-right: 0;
    }

    .sect-10 {
        height: auto;
        width: 687px;
    }

    .sect-10 section .alina, .sect-10 section .viktor {
        display: none;
    }

    .sect-10 section article {
        flex-direction: column;
        align-items: normal;
        width: 330px;
        height: 290px;
    }

    .green-box-members {
        left: 0;
        height: 290px;
        width: 30px;
    }

    .sect-10 img {
        width: 100px;
        height: 100px;
        margin-top: 24px;
        margin-left: 60px;
        margin-bottom: 16px;
    }

    .sect-10 section article section{
        margin-left: 60px;
    }

    .sect-10 p {
        font-size: 14px;
        line-height: 21px;
    }

    .sect-10 svg {
        margin-top: 30px;
        margin-right: 20px;
    }

    .sect-11 {
        width: 690px;
        height: auto;
    }

    .sect-11 > section{
        flex-direction: column;
    }

    .sect-11 > section > section:last-child article p:last-child {
        margin-left: 16px;
    }

    .sect-11 > section > section:last-child {
        margin-top: 64px;
        width: 690px;
        height: 383px;
        padding-top: 32px;
        padding-bottom: 48px;
    }

    .sect-11 > section > section:first-child{
        margin-top: 64px;
    }

}

@media only screen and (max-width: 695px) {
    .sect-1{
        flex-direction: column;
        margin-left: 0;
        align-items: center;
    }

    .sect-1-div{
        width: 344px;
    }

    h1{
        font-size: 28px;
        line-height: 35px;

        color: #FFFFFF;
    }

    h2{
        font-family: 'Exo 2';
        font-style: normal;
        font-weight: 600;
        font-size: 28px;
        line-height: 35px;

        color: #363738;
    }

    h3 {
        font-size: 18px;
        line-height: 24px;
        max-width: 243px;
    }

    p{
        font-size: 15px;
        line-height: 22px;
    }

    .sect-1 p{
        visibility: hidden;
        position: relative;
        height: 62px;
        margin-bottom: 60px;
    }

    .sect-1 p::after{
        content: "Наши клиенты получают полный спектр услуг по работе с Китаем. Начиная с подбора производителя заканчивая доставкой товара до двери.";
        position: absolute;
        visibility: visible;
        left: 0;
        top: 0;
        font-size: 15px;
        line-height: 22px;

        color: #FFFFFF;
    }

    a{
        font-size: 15px;
        line-height: 22px;

        color: #FFFFFF;
    }

    img[src="images/cargo.png"]{
        margin-top: 56px;
        content: url("/images/cargomobile.png");
        width: 100%;
    }

    .green-box{
        box-sizing: none;
        width: 100%;
        height: 766px;
    }

    .sect-2 {
        max-width: 345px;
        width: 100%;

        padding-top: 24px;

        background: #FFFFFF;
        box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
        border-radius: 20px;

        height: auto;
    }

    .sect-2 article {
        display: flex;
        flex-direction: column;
        
        padding: 0;

        height: auto;
        max-width: 289px;
        width: 100%;

        background: none;
        box-shadow: none;
    }

    .sect-2 section {
        margin: 84px 0 0 0;
    }

    .gray-circle-1,  .gray-circle-2, .gray-circle-3{
        width: 68px;
        height: 68px;
    }

    .gray-circle-1 > *, .gray-circle-2 > *, .gray-circle-3 > *{
        position: absolute;
        margin: 0;
        top: 15%;
        left: 25%;
        width: 36px;
    }

    .gray-circle-3 > * {
        top: 20%;
        left: 15%;
        width: 48px;
    }

    .sect-3 div h2+p{
        display: none;
    }

    .sect-3 svg {
        display: none;
    }

    .sect-3 {
        max-width: 345px;
        margin-bottom: 64px;
    }

    .checkmark {
        left: -16px;
    }

    .sect-3 article label {
        margin-left: 33px;
    }

    .sect-3 article p {
        margin-left: 65px;
    }

    .sect-4 h2 {
        color: black;
        position: relative;
        top: 0;
        right: 0;
        width: 345px;
        height: 70px;
        margin: 0;
    }

    .sect-4 svg, .sect-4 img {
        display: none;
    }

    .sect-4 {
        width: 345px;
        height: 70px;
        margin: 0 auto;
    }

    .sect-5 {
        max-width: 345px;
    }

    .sect-5 article{
        margin: 0;
    }

    .sect-5 svg {
        width: 28px;
        height: auto;
    }

    .gray-circle-4 {
        width: 52px;
        height: 52px;
    }

    .svg-1{
        left: 12px;
        top: 9px;
    }
    
    .svg-2{
        left: 12px;
        top: 9px;
    }
    
    .svg-3{
        left: 12px;
        top: 11px;
    }
    
    .svg-4{
        left: 12px;
        top: 10px;
    }

    .sect-5 article h3, .sect-5 article p {
        left: 68px;
    }

    .sect-5 {
        gap: 38px 176px;
        margin-top: 48px;
    }

    .sect-5 article{
        max-width: 345px;
    }

    .sect-6 {
        max-width: 345px;
    }

    .sect-6-art-2{
        display: none;
    }

    .sect-6-art-1 img {
        content: url("/images/mobile-our-works-1.png");
    }

    .sect-6 article{
        max-width: 345px;
        width: 100%;
    }

    .sect-6 article *:not(img) {
        margin-left: 24px;
    }

    .table-upper p{
        display: none;
    }

    .table-upper {
        border: none;
    }

    .table-sect section:not(.table-upper) p{
        justify-content: normal;
    }

    .table-sect section:not(.table-upper) p span{
        display: none;
    }

    .upper-p:after{
        content: "Клиент №1";
        padding-left: 16px;
    }

    .upper-p {
        border-radius: 2px;
    }

    .table-sect > section:not(.table-upper) > p{
        margin-bottom: 18px;
    }

    .table-sect section:not(.table-upper) article:not(p+article){
        display: none;
    }

    .table-sect section:not(.table-upper) article{
        flex-wrap: wrap;
        border: none;
        height: auto;
    }

    .table-sect section:not(.table-upper) article > *:not(.producer-column){
        border: none;
    }

    .sect-7 {
        width: 375px;
        height: 640px;
    }

    .sect-7 > article {
        margin-top: 40px;
    }

    .table-upper {
        padding: 0;
        margin-left: 16px;
        margin-top: 24px;
    }

    .table-upper svg{
        width: 79px;
        height: 43px;
    }

    .table-sect {
        width: 345px;
        height: 520px;
    }

    .sect-7 h2 {
        margin-top: 32px;
        width: 345px;
    }

    .img-column {
        width: 90px;
        height: 90px;

        margin-bottom: 24px;
        margin-left: 16px;
    }

    .img-column img{
        width: 90px;
        height: 90px;
    }

    .name-column {
        width: 169px;
        margin-left: 16px;
    }

    .name-column p:first-child {
        width: 169px;
        height: 52px;
    }

    .table-sect .table-upper + section{
        width: 313px;
    }

    .img-column, .name-column, .producer-column, .contact-column {
        padding: 0;
    }

    .producer-column {
        width: 281px;
        border-bottom: 1px solid #D7D7DD;
        border-top: 1px solid #D7D7DD;
        border-right: none;
        margin-left: 16px;
        padding-top: 16px;
    }

    .producer-column  p{
        width: 263px;
    }

    .producer-column section{
        margin-bottom: 16px;
    }

    .contact-column p {
        width: 203px;
    }

    .contact-column {
        padding-bottom: 16px;
        margin-left: 16px;
        padding-top: 16px;
    }

    .symbol {
        width: 403px;
        height: 515px;
        left: -51px;
        bottom: 181px;
    }

    .sect-8 {
        max-width: 306px;
        width: 75%;
    }

    .sect-8 h3{
        max-width: 241px;
    }

    .sect-8 article section div{
        display: none;
    }

    .sect-8 section p {
        visibility: hidden;
        position: relative;
        height: 85px;
    }

    .sect-8 section p:after {
        position: absolute;

        left: 0px;
        top: 0px; 

        max-width: 241px;

        visibility: visible;
        content: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. ";
        font-family: 'PT Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 22px;

        color: #6B6B6C;
    }

    .sect-9 section article {
        display: none;
        width: 173px;
    }

    .sect-9 section {
        row-gap: 48px;
    }

    .sect-9 {
        width: 350px;
    }

    .sect-9 p {
        text-align: center;
        width: 150px;
    }

    .sect-9 section article:not(.delete) {
        display: flex;
    }

    input[name="mobile-rb"] {
        display: block;
        margin-top: 40px;
        width: 28px;
        height: 28px;
        margin-right: 6px;
        margin-left: 6px;
    }

    .sect-10 section .boris{
        display: none;
    }

    .sect-10 {
        display: flex;
        justify-content: center;
        margin: 0 auto;

        max-width: 345px;
        width: 95%;
    }

    .sect-10 > section {
        flex-direction: column;
        flex-wrap: nowrap;
    }

    .sect-10 section article section{
        margin-left: 16px;
    }

    .sect-10 section article {
        flex-direction: row;
        align-items: center;
        height: 156px;
        max-width: 345px;
        width: 95%;
    }

    .sect-10 img {
        margin-right: 0;
        margin-left: 36px;
    }

    .green-box-members {
        width: 20px;
        height: 156px;
    }

    .sect-10 h3 {
        margin-bottom: 10px;
    }

    .sect-10 svg {
        margin-top: 20px;
    }

    .sect-10 h2 {
        margin: 0 0 32px 0;
    }

    .sect-9 {
        margin-bottom: 64px;
    }

    .sect-11 > section > section:last-child article {
        display: flex;
        flex-direction: column;
        margin-left: 24px;
        margin-bottom: 24px;
        padding-bottom: 24px;
        height: 35px;
        max-width: 283px;
        align-items: center;
    
        border-bottom: 1px solid #E9EAF2;
    }

    .sect-11 > section > section:last-child article > *{
        margin: 0;
        max-width: 283px;
    }

    .sect-11 > section > section:last-child {
        max-width: 345px;
        width: 95%;
        height: 447px;
    }

    .sect-11 {
        max-width: 345px;
    }

    .sect-11 > section > section:last-child article p:last-child {
        margin-left: 0;
        margin-top: 14px;
    }

    .sect-11 > section > section:last-child article p:first-child {
        width: 283px;
    }

}