body{
    margin: 0;
    
}

ul {
    list-style-type: none;
}

h1{
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 600;
    font-size: 52px;
    line-height: 65px;
    margin-top: 0;

    max-width: 550px;

    color: #363738;
}

label {
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;

    color: #363738;
}

h2 {
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 60px;

    color: #363738;
}

h3 {
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;

    color: #363738;
}

p {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;

    max-width: 525px;

    color: #6B6B6C;
}

a {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;

    color: #363738;

    text-decoration: none;

    border-bottom: 3px solid #FFCE50;
    padding-bottom: 10px;
}

.center-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sect-1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 109px;
}

.green-box{
    box-sizing: border-box;

    position: absolute;
    background: #0B7572;
    width: 42%;
    top: 0;
    height: 787px;
    z-index: -1;
    right: 0;
}

.sect-2 {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 341px;
    max-width: 1180px;
    margin: 67px auto;
    width: 100%;

    background: #FFFFFF;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
    border-radius: 20px;

    gap: 105px;
}

.sect-2 article {
    position: relative;
    max-width: 228px;
    max-height: 245px;
}

.sect-2 article h3{
    margin: 106px 0 16px 0;
}

.sect-2-article-2, .sect-2-article-3{
    border-left: 1px solid #D7D7DD;
    padding-left: 64px;
}

.gray-circle-1, .gray-circle-2, .gray-circle-3 {
    position: absolute;

    z-index: 0;

    width: 92px;
    height: 92px;

    border-radius: 100%;

    background: #E9E9EC;
}

.gray-circle-1 > *, .gray-circle-2 > *, .gray-circle-3 > *{
    margin: 21px 0 0 21px;
}

.gray-circle-2 > *{
    margin: 21px 0 0 23px;
}

.gray-circle-3 > *{
    margin: 27px 0 0 12px;
}

.sect-3 {
    display: flex;
    margin: 100px auto;
    justify-content: center;
    max-width: 1240px;
    width: 100%;
}

.sect-3 article {
    position: relative;

    display: flex;
    flex-direction: column;
    
    max-width: 687px;
    max-height: 176px;
    width: 100%;
    margin: 0 139px 16px 0;
    padding: 40px 0 40px 0;

    background: #FFFFFF;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.12);
    border-radius: 10px;
    border: 1px solid transparent;
}

.sect-3 h2 {
    margin: 0 0 32px 0;
}

.sect-3 svg {
    position: absolute;
    right: 0;
    bottom: 0;
}

.sect-3 article label{
    margin-left: 72px;
}

.sect-3 article p {
    margin-left: 104px;
}

.sect-3 div:first-child {
    margin-right: 39px;
}

.sect-3 div:last-child p:first-child {
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;

    margin: 156px 0 8px 0;

    color: #363738;
}

.sect-3 span {
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 600;
    font-size: 54px;
    line-height: 81px;

    color: #363738;
}

.sect-3 p:last-child{
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;

    color: #363738;

    padding-bottom: 30px;
    margin-top: 8px;

    border-bottom: 3px solid #FFCE50;
}

.container {
    display: block;
    position: relative;
    padding-left: 32px;
    margin-bottom: 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: 8px;
    left: -32px;
    height: 24px;
    width: 24px;
    border-radius: 100%;

    background: #FFFFFF;
    border: 1px solid #CBCBCD;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.2);
}

.container:hover input ~ .checkmark {
    background-color: #ccc;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}   

.container input:checked ~ .checkmark {
    background-color: #FFFFFF;
}

.container input:checked ~ .checkmark:after {
    display: block;
}

.container .checkmark:after {
    top: 7px;
    left: 7px;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background: #0B7572;
}

.sect-4 {
    display: flex;
    justify-content: center;
    height: 453px;
}
.why-us{
    position: relative;
    width: 1185px;
}

.why-us > * {
    position: absolute;
}

.why-us img {
    z-index: -1;
    right: 0;
}

.why-us h2{
    position: absolute;
    width: 362px;
    height: 109px;
    right: 778px;
    top: 160px;

    z-index: 1;

    color: #FFFFFF;
}

.transparent-why-us {
    right: 270px;
}

.green-why-us {
    height: 453px;
    right: 472px;
}

.tablet-green-why-us, .tablet-transparent-why-us {
    visibility: hidden;
}

.sect-5 {
    display: flex;
    flex-wrap: wrap;
    margin: 72px auto;

    max-width: 1070px;

    gap: 64px 176px;
}

.sect-5 article {
    position: relative;
    width: 447px;
    height: 80px;
}

.sect-5 article h3, .sect-5 article p{
    position: absolute;
    left: 120px;
    max-width: 291px;
    top: 0;
}

.sect-5 article h3{
    margin: 0 0 16px 0;
}

.sect-5 article p{
    margin: 37px 0 0 0;
}

.gray-circle-4 {
    position: relative;
    width: 80px;
    height: 80px;
    background: #E9E9EC;
    border-radius: 100%;
}

.gray-circle-4 > *{
    position: absolute;
}

.svg-1{
    left: 18px;
    top: 14px;
}

.svg-2{
    left: 20px;
    top: 15px;
}

.svg-3{
    left: 18px;
    top: 18px;
}

.svg-4{
    left: 18px;
    top: 15px;
}

.sect-6 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;

    max-width: 1240px;
    width: 100%;
}

.sect-6 h2 {
    margin: 0;
}

.sect-6 h3 {
    margin-bottom: 0;
}

.sect-6 article *:not(img) {
    margin-left: 32px;
    max-width: 291px;
}

.sect-6-art-sect {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.price {
    padding-bottom: 10px;

    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;

    color: #363738;

    width: fit-content;
    border-bottom: 3px solid #FFCE50;
}

.sect-6 article {
    max-width: 393px;

    background: #FFFFFF;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.12);
    border-radius: 10px;
}

.sect-6-radio-sect {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 26px;

    margin-top: 56px;
}

.sect-6-radio-sect input{
    width: 36px;
    height: 36px;
}

.sect-7 {
    display: flex;
    justify-content: center;
    position: relative;

    max-width: 1240px;
    width: 95%;
    height: 917px;

    background-color: #0B7572;
    margin: 120px auto;
}

.sect-7 h2 {
    margin: 100px 0 0 65px;

    color: #FFFFFF;
}

.table-sect {
    width: 652px;
    height: 747px;

    margin: 85px 67px 0 0;

    background: #FFFFFF;
    border-radius: 8px;
}

.symbol {
    position: absolute;

    left: 48px;
    bottom: 45px;
}

.table-upper {
    margin: 28px 40px 0 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    border-bottom: 1px solid #D7D7DD;
    padding-bottom: 32px;
}

.table-upper > p{
    margin: 0;
    font-size: 11px;
    line-height: 16px;

    width: 274px;
    height: 62px;
}

.table-sect > section:not(.table-upper){
    width: 572px;
    margin: 32px 32px 0 32px;
    background-color: #F9F9FB;
}

.table-sect > section:not(.table-upper) > p{
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    height: 45px;
    max-width: inherit;

    margin-bottom: 8px;
    margin-top: 0;

    background-color: #0B7572;
    color: #FFFFFF;
}

.table-sect > section:not(.table-upper) > p span{
    display: flex;
    align-items: center;
    height: 37px;
}

.column-1 {
    border-right: 1px solid rgba(0, 0, 0, 0.2);
    padding: 0 36px 0 36px;
}

.column-2 {
    border-right: 1px solid rgba(0, 0, 0, 0.2);
    padding: 0 36px 0 36px;
}

.column-3 {
    border-right: 1px solid rgba(0, 0, 0, 0.2);
    padding: 0 26px 0 26px;
}

.column-4 {
    padding: 0 45px 0 45px;
}

.table-sect > section:not(.table-upper) {
    display: flex;
    flex-direction: column;
}

.table-sect > section:not(.table-upper) article{
    display: flex;
    height: 163px;
}

.img-column {
    padding: 24px 16px 65px 13px;
    border-right: 1px solid rgba(0, 0, 0, 0.2);
    position: relative;
}

.name-column {
    padding: 24px 20px 0 12px;
    border-right: 1px solid rgba(0, 0, 0, 0.2);
}

.name-column p:first-child {
    font-size: 14px;
    line-height: 19px;

    width: 112px;
    height: 90px;
}

.table-sect article p {
    font-size: 14px;
    line-height: 19px;
    margin: 0;
}

.name-column p:last-child {
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 600;

    margin-top: 10px;

    color: #363738;
}

.producer-column {
    border-right: 1px solid rgba(0, 0, 0, 0.2);
    padding: 24px 7px 0 16px;
}

.producer-column > *{
    width: 141px;
}

.producer-column > p:first-child{
    margin-bottom: 10px;
    font-weight: 700;
    color: #363738;
}

.contact-column {
    padding: 24px 0 0 16px;
}

.contact-column > *{
    width: 117px;
}

.contact-column > p:first-child{
    margin-bottom: 12px;
    font-weight: 700;
    color: #363738;
}

.contact-column > p:last-child{
    margin-top: 10px;
    color: #363738;
}

.table-sect article {
    border-bottom: 1px solid #D7D7DD;
}

.table-sect article:last-child {
    border: none;
}

.table-sect article:last-child > * {
    height: 120px;
}

.table-sect article:last-child > .img-column {
    padding-bottom: 0;
}

.producer-column > section {
    display: flex;
    margin-top: 12px;
    gap: 4px;
}

.producer-column > section > div{
    position: relative;
    width: 12px;
    height: 11px;
}

.producer-column > section > div > *{
    position: absolute;
}

.producer-column > section > div > svg:first-child{
    position: absolute;
    z-index: 1;
    top: 2px;
    left: .3px;
}
